sudo: false

env:
  - COMPOSER_DISABLE_XDEBUG_WARN=1

language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

before_script:
  - composer self-update
  - travis_retry composer install --no-interaction

script:
  - phpunit

cache:
  - directories:
    - vendor

notifications:
  - email: false
