<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
	bootstrap="./test/bootstrap.php"
	backupGlobals="false"
	backupStaticAttributes="false"
	verbose="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="fast">
			<directory>test/tests/</directory>
			<exclude>test/tests/IntegrationTest.php</exclude>
		</testsuite>
		<testsuite name="slow">
			<file>test/tests/IntegrationTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>
</phpunit>
